<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
登录用户：<span th:text="${user}"></span>
<hr/>
<a href="./logout">退出</a>
<ul>
    <li><a href="./client/test0">资源服务器7001---test0</a></li>
    <li><a href="./client/test1">资源服务器7001---test1</a></li>
    <li><a href="./client/test2">资源服务器7001---test2</a></li>
    <li><a href="./client/test3">资源服务器7001---test3</a></li>
    <li><a href="./client/test4">资源服务器7001---test4</a></li>
    <li><a href="./client/test5">资源服务器7001---test5</a></li>
    <li><a href="./client/test6">资源服务器7001---test6</a></li>
    <li><a href="./client/test7">资源服务器7001---test7</a></li>


</ul>
</body>
</html>
